<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스3 Configuraion DOCTYPE -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
<!-- 마이바티스 3 설정 항목을 넣는 태그 (최상위 부모 태그) -->  
<configuration>
	
	<!-- 접속할 DB의 정보를 설정한다 -->  
	<environments default="development">
	
		<!-- DB접속 정보 --> 
		<environment id="development">
			
			<!-- JDBC를 이용하여 트랜잭션을 관리하도록 설정한다 -->
			<transactionManager type="JDBC" />
			
			<!-- 접속할 DB에 대한 정보 -->
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="scott"/>
				<property name="password" value="tiger"/>
			</dataSource>		
			
		</environment>
		
	</environments>


	<!-- SQL 쿼리들을 작성해둘 매퍼(Mapper) 정보 -->
	<mappers>
		<mapper resource="dao/mapper/DeptMapper.xml"/>
	</mappers>

</configuration>
  